<div class="show-word-list">
  <%= form_for :word, url: words_path, method: "get", remote: true do |f| %>
    <%= f.select :category_id, @categories, {}, {class: "form-control"} %>
    <% Settings.word_filter_status.each do |name, value| %>
      <%= f.radio_button :status, name, checked: value == "All" %>
      <%= f.label value %>
    <% end %>
    <%= f.submit t("buttons.submit"), class: "btn btn-primary" %>
  <% end %>
</div>
