<div class="category_list-list">
  <h3><%= category_list.name %></h3>
  <p><%= category_list.description %></p>

  <%= form_for [category_list, category_list.lessons.build] do |f| %>
    <%= f.hidden_field :category_id %>
    <%= f.submit t(:lb_start), class: "btn btn-primary" %>
  <% end %>
</div>
